In [1]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import jinja2

In [9]:
#understand templates from jinja2

tmpl1 = 'My name is {} and age {}'
tmpl = jinja2.Template("My name is {{name}} and age is {{age}}")

In [7]:
name = "adam"
age = 23
tmpl1.format(name,age)

'My name is adam and age 23'

In [11]:
age_young = 4
tmpl.render(name = name, age = age_young)

'My name is adam and age is 4'

In [13]:
tmpl.render(name = "Weronika", age = "241,4")

'My name is Weronika and age is 241,4'

In [14]:
tmpl = jinja2.Template("My dog is {{dt.name}}, and it's age is {{dt.age}}")

tmpl

In [15]:
sl = {"name" : "Diego", "age":5 }

In [16]:
tmpl.render(dt=sl)

"My dog is Diego, and it's age is 5"

# HTML

In [17]:
%%HTML
<!DOCTYPE html>
    <html>
        <head>
            <title>Page Title</title>
        </head>
        <body>

            <h1>This is a Heading</h1>
            <p>This is a paragraph.</p>

        </body>
</html>

In [41]:
tmpl = jinja2.Template("""<!DOCTYPE html>
    <html>
        <head>
            <title>Page Title</title>
        </head>
        <body>

            <h1>This is a Heading</h1>
            <p>{{dt.name}}</p>
            <p>{{dt.age}}</p>
                <ul>
                {% for it in myList %}
                    <li>{{it}}</li>
                    {%endfor%}
                </ul>

        </body>
</html>  """)
tmpl

In [24]:
from IPython.core.display import display, HTML

In [39]:
display(HTML(tmpl.render(dt=sl)))

In [50]:
ll = range(9)
display(HTML(tmpl.render(dt=sl, myList=ll)))

In [54]:
%ls
%cd /home/adam/projects/github/engineer/data

%ls
%pwd

countryPopulation.csv  WHO-COVID-19-global-data.csv
tmp.py                 WPP2019_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx
/home/adam/projects/github/engineer/data
countryPopulation.csv  WHO-COVID-19-global-data.csv
tmp.py                 WPP2019_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx

'/home/adam/projects/github/engineer/data'

In [56]:
df = pd.read_csv('/home/adam/projects/github/engineer/data/countryPopulation.csv',sep=';')

In [57]:
df.head()

    Country     geo region island      c2020
0   Burundi  africa   east     no   11890781
1   Comoros  africa   east     no     869595
2  Djibouti  africa   east     no     988002
3   Eritrea  africa   east     no    3546427
4  Ethiopia  africa   east     no  114963583

In [60]:
step = 5

ll = []

for i in range(4):
    tmp = df.iloc[i:i+step,:]
    ll.append(tmp)
    
ll

[    Country     geo region island      c2020
 0   Burundi  africa   east     no   11890781
 1   Comoros  africa   east     no     869595
 2  Djibouti  africa   east     no     988002
 3   Eritrea  africa   east     no    3546427
 4  Ethiopia  africa   east     no  114963583,
     Country     geo region island      c2020
 1   Comoros  africa   east     no     869595
 2  Djibouti  africa   east     no     988002
 3   Eritrea  africa   east     no    3546427
 4  Ethiopia  africa   east     no  114963583
 5     Kenya  africa   east     no   53771300,
       Country     geo region island      c2020
 2    Djibouti  africa   east     no     988002
 3     Eritrea  africa   east     no    3546427
 4    Ethiopia  africa   east     no  114963583
 5       Kenya  africa   east     no   53771300
 6  Madagascar  africa   east     no   27691019,
       Country     geo region island      c2020
 3     Eritrea  africa   east     no    3546427
 4    Ethiopia  africa   east     no  114963583
 5       Kenya  africa   east     no   53771300
 6  Madagascar  africa   east     no   27691019
 7      Malawi  africa   east     no   19129955]